@media (max-width: 480px){
body{
    display: grid;
    grid-template-columns: 50vw 50vw;
}

div{
    background-color: rgba(218, 42, 42, 0.671);
    outline: 2px solid black;
    text-align: center;    
}

#one {
    background-color: rgb(139, 23, 23);
    grid-column: 1/span 2 ;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 4vw;
    padding-bottom:4vw;
}
#two{
    background-color: rgb(209, 27, 27);
    grid-row-start: 2;
    grid-column: 1/span 2 ;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 7vw;
    padding-bottom:7vw;
}
#three{
    background-color: rgb(216, 15, 15);
    grid-row-start:3;
    grid-column: 1/span 2 ;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 5vw;
    padding-bottom:5vw;
}
#four{
    background-color: rgb(211, 31, 31);
    grid-row-start:4;
    grid-column: 1/span 2 ;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 5vw;
    padding-bottom:5vw;
}
#five{
    background-color: rgb(209, 50, 50);
    grid-row-start:5;
    margin-left: 5vw; 
    padding-top: 4vw;
    padding-bottom:4vw;   
}
#six{
    background-color: rgb(151, 21, 21);
    grid-row-start:5;   
    margin-right: 5vw;
    padding-top: 10vw;
    padding-bottom:10vw;
}
#seven{
    background-color: rgb(190, 46, 46);
    grid-row-start:6;
    margin-left: 5vw;   
    padding-top: 10vw;
    padding-bottom:10vw; 
}
#eight{
    background-color: rgb(243, 40, 40);
    grid-row-start:6;   
    margin-right: 5vw;
    padding-top: 10vw;
    padding-bottom:10vw;
}
#nine{
    background-color: rgb(218, 7, 7);
    grid-row-start:7;
    grid-column: 1/span 2 ;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 4vw;
    padding-bottom:4vw;
}
}
@media (min-width: 480px) and (max-width: 960px){
    body{
        display: grid;
        grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    }
    div{
        background-color: yellow;
        outline: 2px solid black;
        text-align: center;    
    }
    #one {
        background-color: rgb(188, 194, 108);
        grid-column: 1/span 5;
        margin-top: 5vw;
        margin-left: 5vw;
        margin-right: 5vw;
        padding-top: 4vw;
        padding-bottom:4vw;
    }
    #two{
        background-color: rgb(102, 104, 15);
        grid-row: 2/span 3;
        grid-column: 1/span 1;
        margin-left: 5vw;
        padding-top: 7vw;
        padding-bottom:7vw;
    }
    #three{
        background-color: rgb(169, 180, 15);
        grid-row-start:2;
        grid-column: 2/span 2;
        padding-top: 5vw;
        padding-bottom:5vw;
    }
    #four{
        background-color: rgb(170, 182, 10);
        grid-row-start:2;
        grid-column: 4/span 2;
        margin-right: 5vw;
        padding-top: 5vw;
        padding-bottom:5vw;
    }
    #five{
        background-color: rgb(230, 226, 7);
        grid-row-start:3;
        grid-column: 2/span 1;
        padding-top: 4vw;
        padding-bottom:4vw;   
    }
    #six{
        background-color: rgb(143, 137, 52);
        grid-row-start:3; 
        grid-column: 3/span 1;  
        padding-top: 10vw;
        padding-bottom:10vw;
    }
    #seven{
        background-color: rgb(201, 223, 8);
        grid-row-start:3;
        grid-column: 4/span 1;   
        padding-top: 10vw;
        padding-bottom:10vw; 
    }
    #eight{
        background-color: rgb(192, 190, 88);
        grid-row-start:3;
        grid-column: 5/span 1;   
        margin-right: 5vw;
        padding-top: 10vw;
        padding-bottom:10vw;
    }
    #nine{
        background-color: rgb(168, 167, 66);
        grid-row-start:4;
        grid-column: 2/span 4 ;
        margin-right: 5vw;
        padding-top: 4vw;
        padding-bottom:4vw;
    }
}
@media (min-width: 960px){
    body{
        display: grid;
        grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    }
    div{
        background-color: green;
        outline: 2px solid black;
        text-align: center;    
    }
    #one {
        background-color: rgb(25, 218, 25);
        grid-column: 1/span 5;
        margin-top: 5vw;
        margin-left: 5vw;
        margin-right: 5vw;
        padding-top: 4vw;
        padding-bottom:4vw;
    }
    #two{
        background-color: rgb(63, 211, 63);
        grid-row: 2/span 3;
        grid-column: 1/span 1;
        margin-left: 5vw;
        padding-top: 7vw;
        padding-bottom:7vw;
    }
    #three{
        background-color: rgb(58, 128, 58);
        grid-row-start:2;
        grid-column: 2/span 2;
        padding-top: 5vw;
        padding-bottom:5vw;
    }
    #four{
        background-color: rgb(24, 179, 24);
        grid-row-start:2;
        grid-column: 4/span 2;
        margin-right: 5vw;
        padding-top: 5vw;
        padding-bottom:5vw;
    }
    #five{
        background-color: rgb(13, 161, 13);
        grid-row-start:3;
        grid-column: 2/span 1;
        padding-top: 4vw;
        padding-bottom:4vw;   
    }
    #six{
        background-color: rgb(27, 126, 27);
        grid-row-start:3; 
        grid-column: 3/span 1;  
        padding-top: 10vw;
        padding-bottom:10vw;
    }
    #seven{
        background-color: rgb(39, 146, 39);
        grid-row-start:3;
        grid-column: 4/span 1;   
        padding-top: 10vw;
        padding-bottom:10vw; 
    }
    #eight{
        background-color: rgb(41, 209, 41);
        grid-row-start:3;
        grid-column: 5/span 1;   
        margin-right: 5vw;
        padding-top: 10vw;
        padding-bottom:10vw;
    }
    #nine{
        background-color: rgb(18, 173, 18);
        grid-row-start:4;
        grid-column: 2/span 4 ;
        margin-right: 5vw;
        padding-top: 4vw;
        padding-bottom:4vw;
    }
}
